{% extends 'UevfPlatformBundle::layout.html.twig' %}
{% block title %}{{parent()}} - Annonces{% endblock %}
{% block pageContent %}
        <div class="advert">
            <img src="{{advert.image.url}}" alt="{{advert.image.alt}}" width="600">
            <h1>{{advert.title}}</h1>
            <p><span>par {{advert.author.username}} </span><span> le {{advert.date|date('d-m-Y')}}</span> </p>
            <p>{{advert.content}}</p>
        </div>
{% endblock %}
