<div class="footer">
    <div class="moreinfo">
        <a href="#">{{ "uevf_lang_aboutus"|trans|upper }}</a>
        <a href="#">{{ "uevf_lang_contact"|trans|upper }}</a>
        <a href="#">{{ "uevf_lang_legal"|trans|upper }}</a>
        <a href="#">{{ "uevf_lang_privacy"|trans|upper }}</a>
    </div>
    <div class="social">
        <a href="#"><img src="{{ asset('uploads/Main/icons/facebook.png') }}" alt="social"></a>
        <a href="#"><img src="{{ asset('uploads/Main/icons/twitter.png') }}" alt="social"></a>
        <a href="#"><img src="{{ asset('uploads/Main/icons/youtube.png') }}" alt="social"></a>
    </div>
    <div class="separator"></div>
    <div class="copyright">
        <p>© UEVF</p>
    </div>
</div>
