{% extends "@FOSUser/layout.html.twig" %}
{% block pagetitle %}
<div class="title container-fluid hidden-sm-down">{# styles define in main.css #}
    {{'PROFILE'|trans}}
</div>
{% endblock %}
{% block fos_user_content %}
<div class="user_show">
    <p>{{ 'USERNAME'|trans }}: {{ app.user.username }}</p>
    <p>{{ 'EMAIL'|trans }}: {{ app.user.email }}</p>
    {% if app.user.user is null %}
        <p>Vous n'avez pas encore enregistré vos informations personnelle !!!</p>
        <a href="{{path('uevf_account_addinfo')}}">Ajoutez maintenant !</a>
    {% else %}
        <p>{{ "FIRSTNAME"|trans }}: {{ app.user.user.firstname }}</p>
        <p>{{ "LASTNAME"|trans }}: {{ app.user.user.lastname }}</p>
        <p>{{ "PHONE NUMBER"|trans }}: {{ app.user.user.tel }}</p>
        <p>{{ "BIRTHDAY"|trans }}: {{ app.user.user.birthday|date("d/m/Y") }}</p>
        <p>{{ "ADDRESS"|trans }}: {{ app.user.user.address }}</p>
        <p>{{ "ZIPCODE"|trans }}: {{ app.user.user.city.zipcode }}</p>
        <p>{{ "CITY NAME"|trans }}: {{ app.user.user.city.name }}</p>
        <a class="btn" href="{{ path('uevf_account_editinfo') }}">{{'MODIFY'|trans}}</a>
    {% endif %}
</div>
{% endblock fos_user_content %}
