{% extends "UevfAdvertBundle::layout.html.twig" %}

{% block title %}UevfAdvertBundle:Advert:index{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block pagetitle %}
    <div class="title container-fluid">{# styles define in main.css #}
        ANNONCES
    </div>
{% endblock %}
{% block mainContain %}
<div class="">

</div>
    <div class="adverts row">
        {% for advert in adverts %}
            <div class="col-sm-12 col-md-4">
                <div class="advert">
                    <a href="{{path("uevf_advert_detail",{id: advert.id})}}"></a>
                    <p class="advert-theme">{{advert.theme.theme}}</p>
                    <h3>{{advert.title|length > 50 ? advert.title|slice(0,50) ~ '...' : advert.title}}</h3>
                    <p>{{ advert.content|length > 100 ? advert.content|slice(0, 100)|striptags ~ '...' : advert.content|striptags}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
