{% extends "UevfAdvertBundle::layout.html.twig" %}

{% block title %}UevfAdvertBundle:Advert:index{% endblock %}
{% block pagetitle %}
    <div class="title container-fluid hidden-sm-down">{# styles define in main.css #}
        ANNONCES
    </div>
{% endblock %}
{% block pageContent %}
<div class="">

</div>
    <div class="adverts row">
        {% for advert in adverts %}
            <div class="col-sm-12 col-md-4">
                <div class="advert">
                    <a href="{{path("uevf_advert_detail",{id: advert.id})}}"></a>
                    <p class="advert-theme">{{advert.theme.theme}}</p>
                    <h2>{{advert.title}}</h2>
                    <p>{{advert.content|striptags}}...</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('asset/Advert/css/index.css')}}">
{% endblock %}
